body {
    font-family: 'Courier New', Courier, monospace
}

.album-preview {
    display: inline-block;
    width: 200px;
    height: 200px;
}

.album-preview img {
    width: 100%;
    height: 100%;
}
